body {
    background-color: #f0edd6;
    font-family: garamond serif;
}

header {
    background-color: #131c72;
    color: #f0edd6;
    height: 80px;
    width: 100%;
    z-index: 1;
    border-bottom: 10px solid #e6880e;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

h1 {
    font-size: 3em;
    padding-left: 5%;
}

 nav {
     list-style-type: none;
     color: #f0edd6;
     font-size: 1.5em;
     padding-right: 5%;
 }

 a {
     transition: all 400ms linear;
 }

 a:visited, a:link {
     text-decoration: none;
     color: #f0edd6;
     padding: 20px;
     transition: all 400ms linear;
 }

 a:hover {
     color: #e6880e;
 }

main {
    display: flex;
    flex-direction: row;
    margin: 100px 1% 1% 1%;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    min-height: calc(100vh - 150px);
}

figure {
    margin: 1%;
    align-items: center;
    width: 30%;
}

#main-pic {
    border: solid black 10px;
    padding: 5px;
    width: 100%;
}

figcaption {
    width: 100%;
    text-align: center;
    font-style: italic;
    margin: 2%;
}

.contact-form {
    margin: 1%;
}

h2 {
    text-align: center;
}

.submit-button-area {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

#submit-button {
    background-color: #131c72;
    color: #f0edd6;
    padding: 10px;
    font-family: garamond;
    transition: all 400ms linear;
}

#submit-button:hover {
    color: #e6880e;
}

footer {
    background-color: #131c72;
    color: #f0edd6;
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 50px;
    width: 100%;
    padding: 10px;
    border-top: solid 10px #e6880e;
    
}

@media screen and (max-width: 768px) {
    header {
        justify-content: space-evenly;
    }

    h1 {
        font-size: 1.5em;
        float: left;
    }

    nav {
        font-size: .8em;
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    figure {
        text-align: center;
        width: 80%;
    }

    .contact-form {
        margin-top: 10px;
    }

    footer {
        height: 20px;
        border-top: solid 5px #e6880e;
        margin-top: 10px;
    }
}



