* {
    margin:0;
    padding:0;
}

body {
    background-color: #f0edd6;
    font-family: garamond;
}

header {
    background-color: #131c72;
    color: #f0edd6;
    height: 60px;
    width: 100%;
    z-index: 1;
    border-bottom: 10px solid #e6880e;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

h1 {
    font-size: 3em;
    padding-left: 5%;
}

 nav {
     float: right;
     list-style-type: none;
     color: #f0edd6;
     font-size: 1.5em;
     padding-right: 5%;
 }

 a {
     transition: all 400ms linear;
 }

 a:visited, a:link {
     text-decoration: none;
     color: #f0edd6;
     padding: 20px;
     transition: all 400ms linear;
 }

 a:hover {
     color: #e6880e;
     font-size: 1.2em;
 }

main {
    display: flex;
    flex-direction: row;
    margin: 100px 1% 1% 1%;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

figure {
    margin: 1%;
}

#main-pic {
    border: solid black 10px;
    padding: 5px;
    width: 400px;
    align-items: center;
}

figcaption {
    display: none;
}

.contact-form {
    margin: 1%;
}

h2 {
    text-align: center;
}

.submit-button-area {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

#submit-button {
    background-color: #131c72;
    color: #f0edd6;
    padding: 10px;
    font-family: garamond;
    transition: all 400ms linear;
}

#submit-button:hover {
    color: #e6880e;
    padding: 15px;
}

footer {
    background-color: #131c72;
    color: #f0edd6;
    display: flex;
    align-items: center;   
    height: 40px;
    width: 100%;
    padding: 10px;
    border-top: solid 10px #e6880e;
    bottom: 0;
    position: fixed;
    justify-content: right;
}

@media screen and (max-width: 768px) {
    header {
        justify-content: space-evenly;
    }

    h1 {
        font-size: 1.5em;
        float: left;
        
    }

    nav {
        font-size: .9em;
        float: left;
    }

    main {
        flex-direction: column;
        margin-bottom: 60px;
    }

    figure {
        text-align: center;
    }

    #main-pic {
        width: 50%;
    }

    .contact-form {
        margin-top: 10px;
    }

    footer {
        height: 20px;
        justify-content: center;
    }
}



