* {
    margin:0;
    padding:0;
}

body {
    background-color: #f0edd6;
    font-family: garamond;
    position: relative;
}

header {
    height: 60px;
    width: 100%;
    background-color: #142357;
    color: #f0edd6;
    border: 10px solid #e06d0e;
    text-align: center;
    line-height: 20px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.header-table {
    width: 100%;
}

#nav-area {
    float:right;
    padding-top: 18px;
    padding-right: 20px;
}

h1 {
    padding-top: 16px;
    text-transform: capitalize;
    text-align: left;
    padding-left: 150px;
}

a {
    color: #f0edd6;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 20px;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #e06d0e;
}

img {
    height: 400px;
    width: 400px;
    border: 10px solid black;
    padding: 5px;
    margin: 90px 20px 20px 20px;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 18px;
    text-align: center;
}

form, h2 {
    padding-left: 40%;
}

#contact-form {
    background-color: #142357;
    color: #f0edd6;
    border-top: 10px solid #e06d0e;
    margin-top: 20px;
    padding: 20px;
}

footer {
    height: 40px;
    width: 100%;
    border-top: 6px solid #e06d0e;
    background-color: #142357;
    color: #f0edd6;
    text-align: right;
    line-height: 40px;
}

#footer-text {
    padding-right: 5em;
}

#submit-button {
border: 4px solid #e06d0e;
padding: 10px;
background-color: #142357;
color: #f0edd6;
font-family: garamond;
}